<ion-card color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">#{{ index + 1 }}</span>&nbsp;
      <span class="news-source-name">{{ n.source.name }}</span>

      <div class="news-more">
        <ion-button fill="clear" (click)="showMenu()">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>
    <ion-card-title (click)="openNews()" class="news-title-size">{{ n.title }}</ion-card-title>
  </ion-card-header>

  <ion-img (click)="openNews()" *ngIf="n.urlToImage" [src]="n.urlToImage"></ion-img>

  <ion-card-content>
    <p>{{ n.description }}</p>
  </ion-card-content>
</ion-card>