<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Headlines
    </ion-title>
  </ion-toolbar>
  <!-- detecting changes in ion-segment -->
  <ion-segment scrollable mode="md" color="danger" (ionChange)="changeCategory($event)">
    <ion-segment-button [value]="category" mode="md" *ngFor="let category of categories">
      <ion-label text-capitalize>{{ category }}</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content color="dark">
  <app-news [news]="news"></app-news>

  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
